
fieldset{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}
legend{
    text-align: center;
    font-size: xx-large;
    color: black;
    padding-bottom: 20px;
}
label{
    font-size: larger;
}
input{
    margin: 10px;
    padding: 5px;
    width: 300px;
    
}
select{
    margin: 10px;
    padding: 5px;
    
}
textarea{
    margin: 10px;
    padding: 5px;
    
}
button{
    background-color: rgb(38, 128, 201);
    padding: 5px;
    margin: 10px;
    border-style: none;
   

}

